*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #8b8b8b;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

h1{
    color: black;
}

/* utilities */

.container{
    width: 1200px;
    margin: 0 auto;
}

.float{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.w50{
    width: 50%;
}

/* buttons */

.btn{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    line-height: 1;
}

.btn.big-btn{
    padding: 20px;
}

.btn.greenbtn{
    background-color: #7cbb01;
    border: 0;
}

/* header */
.header-top{
    line-height: 80px;
    background-color: #0d325a;
}

 
header .logo{
    width: 15%;
} 

header .logo img{
    vertical-align: middle;
}

header .center{
    width: 45%;
}

header  li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}


header a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
}

header a:hover{
    color: red;
}

header .right{
    width: 40%;
}

/* header bottom */

section.header-btm{
    height: 480px;
    background-color: #0d325a;
    background-image: url("./img/background-header.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 115% 110%;
}

section.header-btm .container{
    height: 100%;
    position: relative;
}


section.header-btm .text{ 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

section.header-btm .text h1{
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}

/* middle bar */
article .middle-bar{
    height: 100px;
    background-color: #d3d3d3;
    text-align: center;
}

article .middle-bar h3{
    font-size: 16px;
    color: black;
    padding: 20px;
}

/* main */
/* first row */

div.first-row{
    height: 400px;
}

div.description{
    width: calc( 100% / 3 - 20px);
    margin: 10px;
    position: relative;
    height: 100%;
    
}

div.description img{
    height: 120px;   
}

div.description-text{
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


div.description-text h2{
    color:#7cbb01;
    padding: 10px;
}

hr{
    display:inline-block;
    width: 50px;
    margin-bottom: 10px;;
}

hr.big-rule{
    width: 100vw;
}

/* main bottom */


section.main-bottom{
    
    height: 500px;
}

div.graphic{
    position: relative;
    height: 100%;
}

div.w50 img{
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.propose{
    padding: 40px;
}

div.propose h1{
    font-size: 30px;
    padding: 20px 0;
}

div.propose p{
    padding: 20px 0;
}

footer{
    height: 100px;
    background-color: #d3d3d3;
}

footer .style-footer{
    line-height: 100px;
    position: relative
}

footer .style-footer h1{
    display: inline-block;
    position: absolute;
    left: 0;
}

.footer-select{
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0%;
}

div.footer-select select{
    margin: 0 20px;
}
